.chart-content {
    -fx-padding: 30px;
}

.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: #505050;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #505050;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: #0000ff;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #0000ff, white;
}